.delivery {
  background: url("../img/background-delivery.jpg") center no-repeat;
  background-size: cover;
  padding-top: rem(90px);
  padding-bottom: rem(80px);
}

.big-heading {
  text-align: center;
}

.delivery-row {
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}


.row__left {
  flex-direction: column;
  width: 50%;
  margin-right: rem(20px);
  margin-bottom: rem(40px);
}

.row__right {
  flex-direction: column;
  width: 50%;
  margin-top: rem(15px);
}

.delivery__input {
  width: 100%;
  padding: rem(8px) rem(0px);
  border-radius: rem(5px);
  border: rem(1px) solid #d1cfcb;
  outline: none;
  padding-left: 10px;
}

.delivery__block {
  margin-right: rem(20px);
  flex-grow: 1;
}

.delivery__title {
  cursor: pointer;
}

.row--margin_top {
  margin-top: rem(20px);
}

.delivery__input--pt {
  padding-bottom: rem(80px);
}

.delivery__block--mr {
  margin-right: rem(0px);
  flex-grow: 1;
}

.delivery__custom-radio {
  cursor: pointer;
  outline: none;
}

.delivery__label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: rem(20px);
  padding-left: rem(24px);
  cursor: pointer;
}

.delivery__label input[type="radio"] {
  position: absolute;
  width: rem(15px);
  height: rem(15px);
  top: rem(4px);
  left: rem(2px);
  background-color: $white;
}

.delivery__label input[type="radio"]:checked {
  content: "";
  position: absolute;
  width:  rem(15px);
  height: rem(15px);
  top: rem(4px);
  left: rem(2px);
  background: $white;

  &::after {
    position: absolute;
    content: '';
    width: rem(6px);
    height: rem(6px);
    top: rem(4px);
    left: rem(4px);
    background: #e45028;
    border-radius: 50%;
  }
}

.row-mb {
  margin-bottom: rem(20px);
}

.delivery__custom-checkbox {
  position: relative;
  padding-left: rem(20px);
  background: #ffffff;
  border-radius: 0;
  display: none;
}

.delivery__block--ml {
  margin-left: rem(-20px);
}

.delivery__block .btn {
  margin-right: rem(20px);
}

.delivery__btn {
  background: none;
  border: none;
  color: $white;
  outline: none;
  cursor: pointer;
}

.delivery__label--mt {
  margin-top: rem(-22px);
}

.row-mt {
  margin-top: rem(20px);
}

.delivery__checkbox-title {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-left: rem(24px);

  &::after {
    position: absolute;
    content: '';
    width: rem(15px);
    height: rem(15px);
    top: rem(2px);
    left: rem(0px);
    background: $white;
  }

  &::before {
    position: absolute;
    content: '';
    width: rem(11px);
    height: rem(9px);
    top: rem(6px);
    left: rem(3px);
    background: url("../img/checkbox-checked.png") no-repeat;
    z-index: 10;
    opacity: 0;
  }
}

.delivery__custom-checkbox:checked ~ .delivery__checkbox-title {

  &::before {
    opacity: 1;
  }

}









