.footer {
  background: url("../img/bgf.jpg") center no-repeat;
  background-size: cover;
  padding-top: rem(10px);
}

.footer-row {
  justify-content: space-between;

  @include tablets {
    padding: rem(0px) rem(20px);
  }

  @include phones {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: rem(0px) rem(0px);
  }

}

.footer__list {
  list-style: none;
  margin: rem(0px);
  padding: rem(0px);
}

.footer__address {
  position: relative;
  font-weight: 300;
  color: $white;
  text-decoration: none;

  @include phones {
    margin-top: rem(20px);
  }
}

.footer__address-svg {

  position: absolute;
  width: rem(12px);
  height: rem(11px);
  fill: #e45028;
  top: rem(30px);

  @include tablets {
    top: rem(35px);
  }

  @include phones {
    top: 32px;
    left: rem(70px);

  }

}

.footer__number {
  position: relative;
  color: #e45028;
  font-weight: 700;
  text-decoration: none;
  padding-left: rem(20px);

  @include phones {
    padding: rem(0px);
  }
}


.footer__social-list {
  display: flex;
  margin: rem(0px);
  padding: rem(0px);
  list-style: none;
  align-items: center;
  margin-bottom: rem(9px);

  @include phones {
    margin-top: rem(15px);
    margin-bottom: rem(20px);
  }
}

.footer__social-item {
  margin-right: rem(20px);
}

.footer__social-btn {
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: rem(23px);
  height: rem(23px);
  font-size: 0;
}

.footer__social-media {
  fill: $white;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}


.footer__social-vk {
  position: absolute;
  width: rem(23px);
  height: rem(23px);
}

.footer__social-fb {
  position: absolute;
  width: rem(23px);
  height: rem(23px);
  opacity: 0.9;
}

.footer__social-inst {
  position: absolute;
  width: rem(23px);
  height: rem(23px);
}

.footer__social-twitter {
  position: absolute;
  width: rem(23px);
  height: rem(23px);
}




