.promo-row {
  @include tablets {
    flex-direction: column;
    text-align: center;
  }
}

.promo__desc {
  font-family: $LifeHack;
  font-size: rem(63px);

  @include phones {
    font-size: rem(45px);
    margin-left: rem(-30px);
  }
}

.promo__title {
  font-family: $Gagalin;
  font-size: rem(72px);
  color: $orange;
  margin-bottom:  rem(40px);

  @include phones {
    font-size: rem(55px);
    white-space: nowrap;
    margin-bottom: rem(-10px);
    margin-left: rem(-25px);
    margin-top: rem(-40px);
  }

}

.promo__img {
  margin-left: rem(20px);
  margin-top: rem(-14px);

  @include tablets {
    img {
      max-width: 100%;
    }
  }
}

.promo__content {
  font-size: rem(65px);
  color: $white;
  line-height: rem(60px);
  margin-top: rem(120px);
  margin-left: rem(13px);

  @include tablets {
     margin-top: rem(50px);
     padding: 0 15%;
    }
  }






