.team {
  position: relative;
  background: url("../img/background-team.jpg") center no-repeat;
  background-size: cover;
}

.team__block {
  position: absolute;
  width: 49%;
  background: rgba(#2f3234, 0.9);
  top: rem(0px);
  right: rem(0px);
  bottom: rem(0px);
  padding-top: rem(87px);
  padding-left: rem(80px);
}

.team__list {
  margin: rem(0px);
  padding: rem(0px);
  list-style: none;
}

.team__item {
  margin-bottom: rem(40px);

  &--open {
    .team-row {
      display: flex;
    }

    .team__link {
      color: $orange;

      &::after {
        transform: rotate(180deg);
        top: rem(3px);
      }
    }
  }
}


.team__link {
  position: relative;
  color: $white;
  font-family: $Gagalin;
  font-size: rem(14px);
  text-decoration: none;
  padding-left: rem(20px);

  &::after {
    position: absolute;
    content: '';
    top: rem(7px);
    left:  rem(0px);
    border: rem(5px) solid transparent;	border-top: rem(5px) solid $orange;
  }

}

.team-row {
  display: none;
  margin-top: rem(15px);
  margin-bottom: rem(15px);
}

.team-row__left {
  margin-right: rem(20px);
  font-family: $Ubuntu;
}

.team__title {
  font-weight: 700;
  margin-bottom: rem(15px);
}

.team__desc {
  padding-right: rem(180px);
  font-weight: 300;
}

.team-row__right {
  margin-top: rem(-5px);
}










