.team {
  position: relative;
  background: url("../img/background-team.jpg") center no-repeat;
  background-size: cover;
}

.team__block {
  position: absolute;
  width: 49%;
  background: rgba(#2f3234, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 87px;
  padding-left: 80px;
}

.team__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.team__item {
  margin-bottom: 40px;

  &--open {
    .team-row {
      display: flex;
    }

    .team__link {
      color: $orange;

      &::after {
        transform: rotate(180deg);
        top: 3px;
      }
    }
  }
}


.team__link {
  position: relative;
  color: $white;
  font-family: $Gagalin;
  font-size: 14px;
  text-decoration: none;
  padding-left: 20px;

  &::after {
    position: absolute;
    content: '';
    top: 7px;
    left:  0px;
    border: 5px solid transparent;	border-top: 5px solid $orange;
  }

}

.team-row {
  display: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.team-row__left {
  margin-right: 20px;
  font-family: $Ubuntu;
}

.team__title {
  font-weight: 700;
  margin-bottom: 15px;
}

.team__desc {
  padding-right: 180px;
  font-weight: 300;
}

.team-row__right {
  margin-top: -5px;
}










