.features {
  background: url("../img/background-features.png");
  background-size: cover;
}

.features__item {
  margin-right: 36px;
}

.features__title {
  color: #2f3234;
  font-family: Gagalin;
  font-size: 72px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 88px;
}

.features__item-title {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 24px;
  text-align: center;
  margin-bottom: 28px;
}

.features__item-desc {
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 14px;
  text-align: center;
}

.feature__item-img {
  text-align: center;
  margin-bottom: 38px;
}


