.promo__desc {
  align-self: center;
  margin-left: 19px;
}

.promo__title {
  font-family: Gagalin;
  font-size: 72px;
  color: $orange;
}

.promo__content {
  font-family: Lifehack;
  font-size: 65px;
  color: $white;
  line-height: 60px;
}